* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

// VARIABLES

// FONT SIZE
$default: 1.6rem;
$medium: 2rem;

// BACKGROUND
$back-col: #3494e4;
$back-col-light: skyblue;

// COLOR
$col-white: #fff;
$col-blue: #4444c3;

// mixin

// for text
@mixin place-text-cen {
  font-size: medium;
  text-align: center;
}

// for element
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@mixin grid-center {
  display: grid;
  place-items: center;
}

body {
  height: 100vh;
  @include grid-center;
  background-color: $back-col;
}
.container__main {
  font-size: $default;
  width: 60rem;
  padding: 3rem;

  @include grid-center;
  gap: 4rem;

  transition: 0.3s ease;

  &--goals,
  &--para {
    @include place-text-cen;
    color: $col-white;
  }

  &--big-jar {
    height: 30rem;
    width: 15rem;
    background-color: #fff;
    border-radius: 0 0 3rem 3rem;
    border: 4px solid $col-blue;

    position: relative;
    overflow: hidden;

    color: $col-blue !important;
    font-weight: 600;

    &--empty-jar {
      width: 100%;
      height: 100%;
      background-color: $col-white;

      @include flex-center;
      transition: 0.5s ease;

      position: absolute;
      top: 0;
      left: 0;
    }

    &--fill-jar {
      height: 0;
      width: 100%;
      display: none;
      @include grid-center;

      transition: 0.5s ease;

      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 5;
    }
  }

  &--jars {
    width: 80%;

    @include grid-center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    div {
      height: 10rem;
      width: 60%;
      cursor: pointer;

      @include grid-center;
      gap: 2rem;

      padding: 1rem;
      border-radius: 0 0 2rem 2rem;
      background-color: $col-white;
      border: 4px solid $col-blue;
      text-overflow: clip;
      text-align: center;
      font-size: $default;
    }
  }
}

.fill {
  background-color: $back-col-light !important;
  color: $col-blue;
}

.empty {
  background-color: #fff;
}
